<ul class="nav pull-right">
    <li>
        <a href="#"><span class="badge badge-warning">7</span></a>
    </li>

    <li class="divider-vertical"></li>

    <li class="dropdown">

        <a data-toggle="dropdown" class="dropdown-toggle " href="#">
            Andrew Thomson <b class="caret"></b>
        </a>

        <ul class="dropdown-menu">
            <li>
                <a href="account.html"><i class="icon-user"></i> Account Setting  </a>
            </li>

            <li>
                <a href="change_password.html"><i class="icon-lock"></i> Change Password</a>
            </li>

            <li class="divider"></li>

            <li>
                <a href="dashboard.html"><i class="icon-off"></i> Logout</a>
            </li>
        </ul>
    </li>
</ul>