<div class="widget">

    <div class="widget-header">
        <h3>Medical Information</h3>
    </div> <!-- /widget-header -->

    <div class="widget-content">
        <p>All medical history will be kept confidential and secure. The information, entered below, will only be made available to section leaders. This is to ensure that all section members are appropriately cared for during weekly meetings and excursions.</p>
        <br />

        <form id="" class="form-horizontal">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="medical">Medical Conditions</label>
                    <div class="controls">
                        <textarea class="input-xxlarge" id="medical" rows="4"><%= conditions %></textarea>
                    </div> <!-- /controls -->
                </div> <!-- /control-group -->

                <div class="control-group">
                    <label class="control-label" for="diet">Dietary Requirements</label>
                    <div class="controls">
                        <textarea class="input-xxlarge" id="diet" rows="4"><%= diet %></textarea>
                    </div> <!-- /controls -->
                </div> <!-- /control-group -->

            </fieldset>
        </form>

    </div> <!-- /widget-content -->

</div>